*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0b1020;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#050816;
}

.logo{
  width:450px;
  height:auto;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:bold;
}

nav a:hover{
  color:#00e5ff;
}

.hero{
  min-height:85vh;

  background:
  linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
  url("images/cyber-bg.jpg");

  background-size:cover;
  background-position:center;

  display:flex;
  align-items:center;

  padding:0 8%;
}

.hero h1{
  font-size:52px;
  color:#00e5ff;
}

.hero p{
  font-size:22px;
  margin:20px 0;
}

.btn{
  display:inline-block;
  background:#00e5ff;
  color:#050816;

  padding:12px 24px;

  text-decoration:none;

  border-radius:6px;

  font-weight:bold;
}

section{
  padding:60px 8%;
}

h2{
  color:#00e5ff;
  margin-bottom:20px;
}

.cards{
  background:#111827;
}

.card-container{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  background:#1f2937;

  padding:20px;

  width:300px;

  border-radius:12px;
}

.card img{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

footer{
  text-align:center;
  padding:20px;
  background:#050816;
}
